<view-title>Job Hinzufügen</view-title>

<div class="panel panel-default">
  <div class="panel-body">   
    <form name="myFormNg" ng-submit="AddEntity(Entity)">
      <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" placeholder="title" ng-model="Entity.title">
      </div>
      <div class="form-group">
        <label for="description">Beschreibung</label>
        <textarea class="form-control" id="description" placeholder="Beschreibung" ng-model="Entity.description"></textarea>
      </div>
        
      <div class="form-group">
        <label for="uni">Uni</label>
        <select class="form-control" id="uni" ng-model="Entity.uni">       
            <option ng-repeat="uni in unis" value="{{uni.uni.value}}">{{uni.name.value}}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="faculty">Fakultät</label>
        <input type="text" class="form-control" id="faculty" placeholder="Fakultät" ng-model="Entity.faculty">
      </div>
        
        <div class="form-group">
        <label for="salaryscale">Gehaltsgruppe</label>
        <input type="text" class="form-control" id="salaryscale" placeholder="Gehaltsgruppe" ng-model="Entity.salaryscale">
      </div>

        <div class="form-group">
        <label for="benutzername">benutzername</label>
        <input type="text" class="form-control" id="benutzername" placeholder="benutzername" ng-model="Entity.benutzername">
      </div>

        <div class="form-group">
        <label for="passwort">passwort</label>
        <input type="password" class="form-control" id="passwort" placeholder="passwort" ng-model="Entity.passwort">
      </div>

      <button type="submit" class="btn btn-default" ng-disabled="myFormNg.$invalid">Absenden</button>
    </form>
  </div>
</div>
