<view-title>Details</view-title>

<div class="panel panel-default">
  <div class="panel-heading">{{job.jobtitle.value}}</div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-9">
            <div ng-if="mapsrc">
                <iframe ng-src="{{mapsrc}}" width="100%" height="300"></iframe>
            </div>
            
            <div ng-bind-html="DescHtml"></div>
            
            <a target="_blank" href="{{job.url.value}}" class="btn btn-default">Zur Anzeige</a>
            <a target="_blank" href="{{job.job.value}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-education"></span></a>
        </div>
        <div class="col-sm-3">
            <div ng-if="job.unilogo">
                <img ng-src="{{job.unilogo.value}}" width="100%" />
            </div>

            Stadt: {{job.cityname.value}}<br/>
            <span ng-if="job.state">Bundesland: {{job.state.value}}<br/></span>
            Uni: <a target="_blank" href="{{job.uniwebsite.value}}">{{job.uniname.value}}</a>
            
            <div ng-if="job.salaryscale.value != 0">
                <hr/>
                Gehaltsgruppe: {{job.salaryscale.value}} TV-L
            </div>
            
            <hr/>
            <h3>Schlagworte</h3>
             <ul class="row" ng-repeat="obj in keywords">
                 <li ng-if="obj.isconcept.value == 'true'" class="keyword_concept">
                     {{obj.word.value}}
                 </li>
                <li ng-if="obj.isconcept.value != 'true'" class="keyword_named_entity">
                     {{obj.word.value}}
                 </li>
             </ul>
        </div>
    </div>
  </div>
</div>










