<view-title>Details</view-title>

<div class="panel panel-default">
  <div class="panel-heading">{{uni.jobtitle.value}}</div>
  <div class="panel-body">
    <div class="row">
        <div class="col-sm-9">
            <div ng-if="mapsrc">
                <iframe ng-src="{{mapsrc}}" width="100%" height="300"></iframe>
            </div>
            
            <div ng-bind-html="DescHtml"></div>
            
            <a target="_blank" href="{{uni.url.value}}" class="btn btn-default">Zur Anzeige</a>
        </div>
        <div class="col-sm-3">
            <div ng-if="uni.unilogo">
                <img ng-src="{{uni.unilogo.value}}" width="100%" />
            </div>

            Stadt: {{uni.cityname.value}}<br/>
            <span ng-if="uni.state">Bundesland: {{uni.state.value}}<br/></span>
            Uni: <a target="_blank" href="{{uni.uniwebsite.value}}">{{uni.uniname.value}}</a>

        </div>
    </div>
  </div>
</div>










