<view-title>Information</view-title>

<div class="panel panel-default">
  <div class="panel-body"> 
      <p>
          Dieses Projektentstand im Rahmen des Praktikums in Semantic Web an der Universität Leipzig 2015.
      </p>
      Git-Repo: <a href="https://github.com/falkmueller/unijobs_web" target="_blank">github.com/falkmueller/unijobs_web</a><br/>
      RDF: <a href="ontology.rdf" target="_blank">Ontology</a>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">externe Ressourcen</div>
  <div class="panel-body"> 
      <ul>
          <li>Url-Rewriting: <a target="_blank" href="http://tuckey.org/urlrewrite/">tuckey.org/urlrewrite</a></li>
          <li>Crawler: <a target="_blank" href="https://github.com/yasserg/crawler4j">github.com/yasserg/crawler4j</a></li>
          <li>JSON Library: <a target="_blank" href="https://github.com/fangyidong/json-simple">github.com/fangyidong/json-simple</a></li>
          <li>html Parser: <a target="_blank" href="http://jsoup.org/">jsoup.org</a></li>
      </ul>
  </div>
</div>