<view-title>Uni Jobs Suchen</view-title>
<h1>Übersicht</h1>

<div class="table">
    <div class="row header">
        <div class="col-sm-4">Job Bezeichnung</div>
        <div class="col-sm-4">Universität</div>
        <div class="col-sm-3">Stadt</div>
        <div class="col-sm-1">TV-L</div>
    </div>
    <div class="row" ng-repeat="obj in items">
        <div class="col-sm-4"><a href="#/details/{{obj.uid.value}}">{{obj.jobtitle.value}}</a></div>
        <div class="col-sm-4">{{obj.uniname.value}}</div>
        <div class="col-sm-3">{{obj.cityname.value}}</div>
        <div class="col-sm-1">{{obj.salaryscale.value}}</div>
      <!--{{obj.job.value}}-->
    </div>
</div>

<div class="ajax-loader" ng-if="!items"></div>

<a class="btn btn-info" ng-click="loadmore(-1)">zurück</a> {{from/pp+1}} Seite <a class="btn btn-info" ng-click="loadmore(1)">weitere</a>